body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
}

#settings {
    display: flex;
}
#settings button {
    margin: 20px 0px;
    font-size: 32px;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: white;
    color: rgb(165, 165, 165);
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    border-style: solid;
    border-color: black;
    width: 960px;
}